table{
    border-collapse: collapse;
    width: 100%;
}
tr{
    transition: all 0.2s ease-in;
}

th, td {
    padding: 12px;
    text-align: left;
    font-weight: 100;
}
.header {
    background-color: #194350;
    columns: #fff;
    color: #fff;
}